<h3> Conozca un Arreglo Pandas   </h3>

Utilizará el marco de datos <code>'df'</code> para lo siguiente:

In [1]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df

   a  b
0  1  1
1  2  1
2  1  1

1.  encuentre los valores únicos en la columna <code>'a'</code> :

In [2]:
df['a']

0    1
1    2
2    1
Name: a, dtype: int64

2.  devolver un marco de datos con solo las filas donde la columna <code>'a'</code> es menor que dos

In [4]:
df1=df[df['a']<2]
df1

   a  b
0  1  1
2  1  1

<hr>
<small>Copyright &copy 2020 IBM Cognitive Class. Este cuaderno y su código fuente se publican bajo los términos de la [Licencia MIT] (https://cognitiveclass.ai/mit-license/).</small>

In [6]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [7]:
df.to_csv("file.csv")